/* Responsive.css used media */
@media (max-width: 1200px) {
/* remove horizontal scrollbar forever */
    html, body {
      overflow-x: hidden;
    }
    body {
      position: relative;
      overflow-x: hidden;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
    }
    .gallery-one{
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
}
@media (max-width: 1020px){
    .gallery-one .image-discription .name h1{
        font-size: 30px;
    }
}
@media (max-width: 830px){
    .gallery-one{
        display: grid ;
        grid-gap: 0;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px){
    .gallery-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
@media (max-width: 386px){
    .gallery-two{
        height: auto;
        width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
}
@media (max-width: 240px){
    .gallery-one .image-discription h1{
      font-size: 20px;
    }
}
